<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>
  <p>
    <label>Author</label>
    <input type="text" name="author" value= <% @post["author"] %>>
  <p>

  <p>
    <label>Post Body</label>
    <input type="text" name="body" value= <% @post["body"] %>>
  <p>
  
  <p>
    <label>Image url</label>
    <input type="text" name="image" value= <% @post["image"] %>>
  <p>

  <button>Submit</button>
</form>
